body {
    background-color: #D9EBF7;
}

.navigatie {
    background-color: #2B50EC;
    font-family: Inter;
    color: white;
    list-style: none; 
    padding: 0;     
}
.nav-logo {
    height: 2em;
    padding: 0;
    margin: 0.5em;
}


.navbar-brand {
    display: flex;
    align-content: center;
    justify-content : left;
}

.logo-tekst {
    margin: 0;
}

.Navlink {
    color: white;
    font-size: large;
    text-decoration: none;
    margin: 1em;
    justify-content: end;
}
.inhoud {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.checkBox {
    border: 3px solid black;
    border-radius: 4px;
}

.onderzoek {
    border: 2px solid #000;
    padding: 10px;
}